@model Model.Publication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Publication</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Date)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Date)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NumberLike)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NumberLike)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NumberDislike)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NumberDislike)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Attachment)
		</dt>

		<dd>
			<img src="@Url.Content("~/Content/Upload/"+ @Html.DisplayFor(model => model.Attachment))" height="50" width="50" alt="Image" />
		</dd>
	</dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
