@model IEnumerable<Model.Publication>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutParent.cshtml";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
<div>
	<div class="cards-container">
		<div class="k-card">


			&nbsp;&nbsp;&nbsp;&nbsp;<img class="k-card-image" src="@Url.Content("~/Content/Upload/"+item.Attachment)" height="100" width="250" alt="Image" />
									<div class="k-card-body">
										@Html.DisplayFor(modelItem => item.Description) at @Html.DisplayFor(modelItem => item.Date)<br/>
									</div>
									<div class="k-card-footer">
										@Html.DisplayFor(modelItem => item.NumberLike) Likes<br />
										@Html.ActionLink("Like", "Like", new { id = item.Id })

									<p>
										@Html.DisplayFor(modelItem => item.NumberDislike) Dislikes <br />
										@Html.ActionLink("DisLike", "DisLike", new { id = item.Id })
									</p>
									</div>
			<div class="k-card-actions k-card-actions-stretched">
				<a href='@Url.Action("Index", "Comment", new { id = item.Id })'> Reply </a>
					@*@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
			</div>
		</div>
	</div>
	<style>
		.cards-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.k-card {
			width: 285px;
			margin: 5%;
		}

		.k-card-footer {
			text-align: center;
		}
	</style>
</div>
		}
